@page
@model OnTutorDemand.Pages.RentalServicePage.TutorDetail

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Detail</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<div class="container">

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a th:href="">Tutor</a></li>
        </ol>
    </nav>

    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="carousel-container" style="height: auto; overflow: hidden;">
                            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="" data-lightbox="product-gallery">
                                            <img th:src="${product.getMainImage()}" class="card-img"
                                                 alt="Product Image" style="max-width: 100%; max-height: 100%"
                                                 loading="lazy">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="" data-lightbox="product-gallery">
                                            <img th:src="${product.getExtraImage1()}" class="card-img"
                                                 alt="Product Image" style="max-width: 100%; max-height: 100%"
                                                 loading="lazy">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="" data-lightbox="product-gallery">
                                            <img th:src="${product.getExtraImage2()}" class="card-img"
                                                 alt="Product Image" style="max-width: 100%; max-height: 100%"
                                                 loading="lazy">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="" data-lightbox="product-gallery">
                                            <img th:src="${product.getExtraImage3()}" class="card-img"
                                                 alt="Product Image" style="max-width: 100%; max-height: 100%"
                                                 loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-1" data-slide-to="1"></li>
                                    <li data-target="#carousel-1" data-slide-to="2"></li>
                                    <li data-target="#carousel-1" data-slide-to="3"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="row">
                        <h3 th:text="${product.productName}" class="p-3 product-name"></h3>
                        <h5 class="ml-2" href="" value="5" style="color: gold;">5.0★★★★★</h5>
                    </div>
                    <div class="bg-gray-100 col-md-10 mb-5">
                        <h3 th:text="'₫'+ ${#numbers.formatDecimal(product.unitPrice, 0, 'POINT', 0, 'POINT')}"
                            class="text-gray-800 product-price"></h3>
                    </div>

                    <form class="user" action="" method="post">
                        <div class="input-group col-md-4 mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"
                                        onclick="decrementQuantity()">
                                    -
                                </button>
                            </div>
                            <input type="text" class="form-control text-center" value="1" id="quantityInput"
                                   readonly="readonly" name="quantity">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        onclick="incrementQuantity()">
                                    +
                                </button>
                            </div>
                        </div>
                        @* <p class="text-muted mb-3 col-md-3"> *@
                        @* <span if="${product.unitsInStock > 0}" class="font-weight-bold" *@
                        @*       text="${'In stock: ' + product.unitsInStock}"></span> *@
                        @*     <span th:if="${product.unitsInStock == 0}" style="color: red;">Out of Stock</span> *@
                        @* </p> *@
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <th:block>
                            <button class="btn btn-outline-primary" type="submit" data-toggle="tooltip" data-placement="right" title="Add to cart">
                                <i class="fas fa-cart-plus"></i>Add to Cart
                            </button>
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Buy this item">Buy now</button>
                        </th:block>
                    </form>
                            @* <a asp-page-handler="StartChat" asp-route-tutorId="@Model.Tutor.Id" asp-route-tutorName="@Model.Tutor.Account.Name"></a> *@
                            <a asp-page-handler="startchat" asp-route-tutorId="2" asp-route-tutorName="tutor">Start Chat</a>
                    <div class="p-2">
                        <a href="">
                            <span class="text"><i class="fas fa-pen-square"></i> Start customize</span>
                        </a>
                    </div>

                    <p class="p-3 text-gray-700">Shipping cost based on GHTK tariff across Viet Nam
                        <i
                            class="fas fa-truck"></i></p>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="bg-gray-400">
                <div class="bg-gray-100 col-md-12 mb-2">
                    <h4 class="text-gray-800">Product Details</h4>
                </div>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Product Name</label>
                        </div>
                        <div class="col-md-10">
                            <label th:text="${product.productName}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Product Categories</label>
                        </div>
                        <div class="col-md-10">
                            <label th:text="${product.productType}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Product Shape</label>
                        </div>
                        <div class="col-md-10">
                            <label text=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Bar Spacing</label>
                        </div>
                        <div class="col-md-10">
                            <label text=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Bird Wingspan</label>
                        </div>
                        <div class="col-md-10">
                            <label text=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Dimensions</label>
                        </div>
                        <div class="col-md-10">
                            <label text=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pb-2 text-gray-600">Weight</label>
                        </div>
                        <div class="col-md-10">
                            <label text=""></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <hr class="bg-gray-400">
                <div class="bg-gray-100 col-md-12 mb-2">
                    <h4 class="text-gray-800">Description</h4>
                </div>
                <div class="card-body p-2">
                    <th:block class="mb-3"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow">
    <div class="card-body">
        <h5 class="text-gray-800">Similar Products</h5>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="d-flex flex-nowrap overflow-hidden" id="featureProductScroll">
                    <button class="btn btn-secondary btn-circle btn-sm carousel-control-prev"
                            onclick="scrollProducts('left')" style="margin-top: 160px">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <div th:each="similarProduct : ${randomSimilarBirdCagesProducts}" class="mb-2">
                        <div class="card mx-2" style="width: 18rem;">
                            <div class="card-body">
                                <a class="text-decoration-none"
                                   href="">
                                    <img src="" class="card-img-top"
                                         alt="Product Image" style="width: 100%; height: auto;">
                                    <h5 class="card-title text-gray-800" text=""
                                        style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></h5>
                                    <span class="text-primary">600000$</span>
                                    <span href="" value="5" style="color: gold;">5.0★★★★★</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-circle btn-sm carousel-control-next"
                            onclick="scrollProducts('right')" style="margin-top: 160px">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow my-4">
    <div class="card-body">
        <h5 class="text-gray-800">Review</h5>
        <div class="card my-3 p-3">
            <label>Taikt08s</label>
            <p class="ml-2" href="" value="5"
               style="color: gold; display: inline-block; margin-right: 5px; vertical-align: middle;">★★★★★</p>
            <p>Wow amazing products.Love to buy it again!</p>
            <div class="position-absolute top-0 end-0">
                <div class="dropdown">
                    <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="reportDropdown">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal">Report</a>
                        </li>
                    </ul>
                </div>

                <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reportModalLabel">Report Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reportReason"
                                           value="inappropriate" id="reportInappropriate">
                                    <label class="form-check-label" for="reportInappropriate">Inappropriate
                                        content</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reportReason"
                                           value="offensive" id="reportOffensive">
                                    <label class="form-check-label" for="reportOffensive">Offensive language</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reportReason" value="spam"
                                           id="reportSpam">
                                    <label class="form-check-label" for="reportSpam">Spam or misleading</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reportReason" value="other"
                                           id="reportOther">
                                    <label class="form-check-label" for="reportOther">Other (please specify)</label>
                                </div>
                                <div class="mt-3" id="otherReasonInput" style="display: none;">
                                    <label for="otherReason">Specify Other Reason:</label>
                                    <input type="text" id="otherReason" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script type="text/javascript">
    document.body.addEventListener("click", function (event) {
        var addToCartMessageSuccess = document.getElementById('addToCartMessageSuccess');
        var overlaySuccess = document.getElementById('overlay-success');
        var addToCartMessageFailed = document.getElementById('addToCartMessageFailed');
        var overlayFailed = document.getElementById('overlay-failed');

        if (addToCartMessageSuccess && overlaySuccess) {
            addToCartMessageSuccess.style.display = 'none';
            overlaySuccess.style.display = 'none';
        }

        if (addToCartMessageFailed && overlayFailed) {
            addToCartMessageFailed.style.display = 'none';
            overlayFailed.style.display = 'none';
        }
    });

    function hideSuccessMessage() {
        var addToCartMessage = document.getElementById('addToCartMessageSuccess');
        var overlay = document.getElementById('overlay-success');

        if (addToCartMessage && overlay) {
            setTimeout(function () {
                addToCartMessage.style.display = 'none';
                overlay.style.display = 'none';
            }, 5000);
        }
    }

    window.addEventListener("load", function () {
        hideSuccessMessage();
    });

    function hideFailedMessage() {
        var addToCartMessage = document.getElementById('addToCartMessageFailed');
        var overlay = document.getElementById('overlay-failed');

        if (addToCartMessage && overlay) {
            setTimeout(function () {
                addToCartMessage.style.display = 'none';
                overlay.style.display = 'none';
            }, 5000);
        }
    }

    window.addEventListener("load", function () {
        hideFailedMessage();
    });

    var unitsInStock = [[${product.unitsInStock}]];

    function incrementQuantity() {
        var quantityInput = document.getElementById('quantityInput');
        var currentQuantity = parseInt(quantityInput.value);

        if (currentQuantity < unitsInStock) {
            quantityInput.value = currentQuantity + 1;
        }
    }

    function decrementQuantity() {
        var quantityInput = document.getElementById('quantityInput');
        var currentQuantity = parseInt(quantityInput.value);

        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }

    var otherReasonInput = document.getElementById('otherReasonInput');
    var otherReasonRadio = document.getElementById('reportOther');

    document.getElementsByName('reportReason').forEach(function (radio) {
        radio.addEventListener('change', function () {
            otherReasonInput.style.display = otherReasonRadio.checked ? 'block' : 'none';
        });
    });
    window.addEventListener("load", () => {
        let queryParams = new URLSearchParams(window.location.search);

        let openCompareModal = queryParams.get("openCompareModal");
        console.log("show modal", openCompareModal)
        if (openCompareModal === 'true') {
            console.log("show modal")
            $('#compareModal').modal("show")
        }
    });
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });

    function scrollProducts(direction) {
        const container = document.getElementById('featureProductScroll');
        const scrollAmount = 300; // Adjust the scroll amount as needed
        if (direction === 'left') {
            container.scrollLeft -= scrollAmount;
        } else {
            container.scrollLeft += scrollAmount;
        }
    }
</script>
</html>