@page
@model OnTutorDemand.Pages.RentalServicePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentalService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentalService.Description" class="control-label"></label>
                <input asp-for="RentalService.Description" class="form-control" />
                <span asp-validation-for="RentalService.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalService.TotalOfHour" class="control-label"></label>
                <input asp-for="RentalService.TotalOfHour" class="form-control" />
                <span asp-validation-for="RentalService.TotalOfHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalService.NumberOfCourse" class="control-label"></label>
                <input asp-for="RentalService.NumberOfCourse" class="form-control" />
                <span asp-validation-for="RentalService.NumberOfCourse" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="RentalService.TutorId" class="control-label"></label>
                <select asp-for="RentalService.TutorId" class ="form-control" asp-items="ViewBag.TutorId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="RentalServiceHomePage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
